<?xml version="1.0"?>
<config>
    <modules>
        <Acaldeira_CsvExport>
            <version>0.1.0</version>
        </Acaldeira_CsvExport>
    </modules>
    <global>
        <models>
            <accsvexport>
                <class>Acaldeira_CsvExport_Model</class>
            </accsvexport>
        </models>
        <blocks>
            <accsvexport>
                <class>Acaldeira_CsvExport_Block</class>
            </accsvexport>
        </blocks>
        <helpers>
            <accsvexport>
                <class>Acaldeira_CsvExport_Helper</class>
            </accsvexport>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <accsvexport before="Mage_Adminhtml">Acaldeira_CsvExport_Adminhtml</accsvexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <accsvexport>
            <general>
                <delimiter>;</delimiter>
                <enclosure>"</enclosure>
                <cron_expr>*/10 * * * *</cron_expr>
            </general>
            <catalog>
                <filename>products.csv</filename>
            </catalog>
            <order>
                <filename>orders.csv</filename>
            </order>
            <customer>
                <filename>customers.csv</filename>
            </customer>
        </accsvexport>
    </default>
    <crontab>
        <jobs>
            <accsvexport_process_modes>
                <schedule>
                    <config_path>accsvexport/general/cron_expr</config_path>
                </schedule>
                <run>
                    <model>accsvexport/exporter::run</model>
                </run>
                <groups>all</groups>
            </accsvexport_process_modes>
        </jobs>
    </crontab>
</config>