<?xml version="1.0"?>
<config>
    <modules>
        <Acaldeira_CsvExport>
            <version>0.2.0</version>
        </Acaldeira_CsvExport>
    </modules>
    <global>
        <models>
            <accsvexport>
                <class>Acaldeira_CsvExport_Model</class>
                <resourceModel>accsvexport_resource</resourceModel>
            </accsvexport>
            <accsvexport_resource>
                <class>Acaldeira_CsvExport_Model_Resource</class>
                <entities>
                    <report>
                        <table>accsvexport_report</table>
                    </report>
                </entities>
            </accsvexport_resource>
        </models>
        <resources>
            <accsvexport_setup>
                <setup>
                    <module>Acaldeira_CsvExport</module>
                </setup>
            </accsvexport_setup>
        </resources>
        <blocks>
            <accsvexport>
                <class>Acaldeira_CsvExport_Block</class>
            </accsvexport>
        </blocks>
        <helpers>
            <accsvexport>
                <class>Acaldeira_CsvExport_Helper</class>
            </accsvexport>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <accsvexport before="Mage_Adminhtml">Acaldeira_CsvExport_Adminhtml</accsvexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <accsvexport>
            <general>
                <delimiter>;</delimiter>
                <enclosure>"</enclosure>
                <cron_expr>*/10 * * * *</cron_expr>
            </general>
            <catalog>
                <filename>products.csv</filename>
            </catalog>
            <order>
                <filename>orders.csv</filename>
            </order>
            <customer>
                <filename>customers.csv</filename>
            </customer>
            <reports>
                <cron_min_interval>15</cron_min_interval>
            </reports>
        </accsvexport>
    </default>
    <crontab>
        <jobs>
            <accsvexport_process_modes>
                <schedule>
                    <config_path>accsvexport/general/cron_expr</config_path>
                </schedule>
                <run>
                    <model>accsvexport/exporter::run</model>
                </run>
                <groups>all</groups>
            </accsvexport_process_modes>
            <accsvexport_process_reporters>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>accsvexport/cron::generatecrons</model>
                </run>
                <groups>all</groups>
            </accsvexport_process_reporters>
            <accsvexport_process_reporters_run>
                <run>
                    <model>accsvexport/reporter::run</model>
                </run>
                <groups>all</groups>
            </accsvexport_process_reporters_run>
        </jobs>
    </crontab>
</config>